In [2]:
import pandas as pd
import numpy as np
import re

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [138]:
df_comb=pd.read_csv('/content/drive/MyDrive/Data_jobs_all.csv')

In [139]:
df_comb.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961.0,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),NaN,True
1,1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893.0,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),NaN,NaN
2,2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),We’re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003.0,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,NaN
3,3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002.0,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),NaN,NaN
4,4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009.0,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True

In [141]:
df_comb.drop(columns = ['Unnamed: 0'], inplace=True)

In [142]:
df_comb.drop(columns = ['Easy Apply'], inplace=True)

In [143]:
df_comb.shape

(8675, 14)

In [144]:
df_comb.describe().T

,count,mean,std,min,25%,50%,75%,max
Rating,7761.0,3.783353,0.632285,1.0,3.4,3.8,4.1,5.0
Founded,6470.0,1977.038176,48.513675,1625.0,1967.0,1997.0,2006.0,2020.0

In [145]:
df_comb.isnull().sum()

Job Title               0
Salary Estimate         1
Job Description         0
Rating                914
Company Name            1
Location                0
Headquarters          535
Size                  510
Founded              2205
Type of ownership     510
Industry             1275
Sector               1272
Revenue               510
Competitors          6232
dtype: int64

Cleaning Salary Estimate

In [15]:
df_comb.dtypes

Job Title             object
Salary Estimate       object
Job Description       object
Rating               float64
Company Name          object
Location              object
Headquarters          object
Size                  object
Founded              float64
Type of ownership     object
Industry              object
Sector                object
Revenue               object
Competitors           object
dtype: object

In [147]:
df_comb.dropna(subset=['Salary Estimate'],inplace=True)

In [148]:
df_comb.shape

(8674, 14)

In [149]:
#Removing the text value from the column
df_comb['Salary Estimate'] = df_comb['Salary Estimate'].astype(str)
salary = df_comb['Salary Estimate'].apply(lambda x: x.split("(")[0])
salary

0        $37K-$66K
1        $37K-$66K
2        $37K-$66K
3        $37K-$66K
4        $37K-$66K
           ...
8670    $76K-$128K
8671    $76K-$128K
8672    $76K-$128K
8673    $76K-$128K
8674    $76K-$128K
Name: Salary Estimate, Length: 8674, dtype: object

In [150]:
#Removing $ and K from the column
salary = salary.apply(lambda x: x.replace("$","").replace("K",""))
salary

0        37-66
1        37-66
2        37-66
3        37-66
4        37-66
         ...
8670    76-128
8671    76-128
8672    76-128
8673    76-128
8674    76-128
Name: Salary Estimate, Length: 8674, dtype: object

In [19]:
#Creating column for per hour
df_comb['salary_per_hour'] = salary.apply(lambda x: 1 if "per hour" in x.lower() else 0)

In [20]:
df_comb['salary_per_hour'].value_counts()

0    8654
1      21
Name: salary_per_hour, dtype: int64

In [23]:
salary = salary.apply(lambda x: x.lower().replace("per hour","").replace(" ",""))

In [112]:
df_comb.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,salary_per_hour
0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961.0,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),NaN,0
1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893.0,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),NaN,0
2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),We’re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003.0,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,0
3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002.0,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),NaN,0
4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009.0,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,0

In [113]:
#minimum salary
df_comb["min_salary"] = salary.apply(lambda x: x.split("-")[0])
#df_comb["min_salary"].tail()

In [114]:
df_comb.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'salary_per_hour', 'min_salary'],
      dtype='object')

In [125]:
df_comb['temp']=salary

In [126]:
df_comb['temp'].isna().sum()

0

In [136]:
li=[]
for i in range(0,len(salary)):
  # print(salary[i].split('-'))
  if len(salary[i].split('-'))>1:
    # print("X")
    li.append(int(salary[i].split('-')[1]))

In [137]:
len(li)

8674

In [128]:
df_comb['max_salary'] = li

ValueError: ignored

In [63]:
df_comb["max_salary"] = salary.apply(lambda x: (x).tolist().split('-')[1])

AttributeError: ignored